.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1080px;
  min-height: 100vh;
  margin: auto;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: auto;
  }
}
