.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1080px;
  min-height: 100vh;
  margin: auto;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}
