{
	email {$EMAIL}
}

{$API_DOMAIN} {
	encode zstd gzip
	
	header {
		Strict-Transport-Security "max-age=31536000;"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "SAMEORIGIN"
	}

	@health path /health
	handle @health {
		respond "ok" 200
	}

	reverse_proxy {$UPSTREAM}
}