.root {
  width: fit-content;
  max-width: 100%;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .grid {
  }
}
