.root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bar {
    height: 0.5rem;
    border-radius: var(--radius-sm);

    background-color: var(--neutral-background);

    .fill {
      height: 100%;
      border-radius: var(--radius-sm);

      background-color: var(--brand-background);
    }
  }
}
