.root {
  display: flex;
  min-height: 100vh;

  background-color: var(--app-background);

  .content {
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;

    main {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 1rem;

      .analytics {
        &.top-analytics {
          width: 100%;
          margin-bottom: 1rem;
          gap: 1rem;
          display: grid;

          grid-template-areas:
            "balance spending chart chart"
            "portfolio investment chart chart";
          grid-template-columns: 1fr 1fr 2fr;

          .stat-card {
            position: relative;
            min-height: 6rem;

            color: var(--brand-text);

            button {
              right: 0.5rem;
              position: absolute;
            }

            &.balance {
              grid-area: balance;
            }
            &.spending {
              grid-area: spending;
            }
            &.portfolio {
              grid-area: portfolio;
            }
            &.investment {
              grid-area: investment;
            }
            &.chart {
              grid-area: chart;
            }
          }
        }
        &.bottom-analytics {
          display: flex;
          width: 100%;
          gap: 1rem;
          height: 100%;

          .spending {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 1rem;

            .spending-list {
              display: flex;
              flex-direction: column;
              gap: 1rem;

              .spending-item {
                display: flex;
                height: 4rem;
                width: 100%;
                gap: 0.5rem;

                .spending-item-icon {
                  display: flex;
                  align-items: center;
                  height: 100%;
                  width: 2rem;
                }

                .spending-item-content {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                }
                .spending-item-amount {
                  display: flex;
                  height: 100%;
                  align-items: center;
                  margin-left: auto;

                  span {
                    height: fit-content;
                  }
                }
              }
            }
          }

          .transactions {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;
            padding: 1rem;

            .transaction-table {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
