.sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 10rem;
  gap: 2rem;
  border-right: 1px solid var(--app-border);

  background-color: var(--app-background);

  .sidebar-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .sidebar-buttons {
      display: flex;

      gap: 0.5rem;
    }
  }

  .sidebar-bottom {
    display: flex;

    margin-top: auto;
  }
}
